body{
    background-color: rgb(32, 27, 27);
}

.circulo {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.bloco {
    width: 49%;
    height: 49%;
    background-color: rgba(0,0,0,0.32);
    position: absolute;
}

.bloco-top-left{
    top: 0;
    left: 0;
    border-top-left-radius: 100%;;
    -webkit-box-shadow: 0px 10px 20px 10px rgba(0,0,0,0.32);
    -moz-box-shadow: 0px 10px 20px 10px rgba(0,0,0,0.32);
    box-shadow: 0px 10px 20px 10px rgba(0,0,0,0.32);
}

.bloco-top-right{
    top: 0;
    right: 0;
    border-top-right-radius: 100%;
    -webkit-box-shadow: 0px 10px 20px 10px rgba(0,0,0,0.32);
    -moz-box-shadow: 0px 10px 20px 10px rgba(0,0,0,0.32);
    box-shadow: 0px 10px 20px 10px rgba(0,0,0,0.32);
}

.bloco-bottom-left{
    bottom: 0;
    left: 0;
    border-bottom-left-radius: 100%;
    -webkit-box-shadow: 0px 10px 20px 10px rgba(0,0,0,0.32);
    -moz-box-shadow: 0px 10px 20px 10px rgba(0,0,0,0.32);
    box-shadow: 0px 10px 20px 10px rgba(0,0,0,0.32);
}

.bloco-bottom-right{
    bottom: 0;
    right: 0;
    border-bottom-right-radius: 100%;
    -webkit-box-shadow: 0px 10px 20px 10px rgba(0,0,0,0.32);
    -moz-box-shadow: 0px 10px 20px 10px rgba(0,0,0,0.32);
    box-shadow: 0px 10px 20px 10px rgba(0,0,0,0.32);
}

.preto{
    background: rgb(43, 39, 39);
    transition: background-color 1s;
}

.verde{
    background-color: green;
    box-shadow: 0 0 30px green;
    transition: background-color 1s;
}

.vermelho{
    background-color: red;
    box-shadow: 0 0 30px red;
    transition: background-color 1s;
}

.azul{
    background-color: blue;
    box-shadow: 0 0 30px blue;
    transition: background-color 1s;
}

.amarelo{
    background-color: yellow;
    box-shadow: 0 0 30px yellow;
    transition: background-color 1s;
}

.btn-start{
    background-color: white;
    color: black;
    border: solid 1px;
    border-radius: 3px;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.btn-start:hover{
    color: white;
    background-color: rgb(41, 41, 100);
    box-shadow: 0 0 30px rgb(41, 41, 100);
    transition: background-color 2s;
}

.box {
  width: 80%;
  height: 80%;
  animation: shake 0.5s;
  animation-iteration-count: 1;
}

.shake {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}